:root {
  --dark100: #0c0e16;
  --dark200: #141625;
  --dark300: #1e2139;
  --dark400: #252945;
  --dark500: #373b53;
  --dark600: #858bb2;
  --dark700: #777f98;

  --light100: #fff;
  --light200: #f9fafe;
  --light300: #dfe3fa;
  --light400: #f8f8fb;
  --light500: #f3f3f3;

  --red100: #ec5757;
  --red200: #ff9797;

  --purple100: #7c5dfa;
  --purple200: #9277ff;
  --purple300: #7e88c3;
  --purple400: #888eb0;
}

html,
body {
  font-family: "League Spartan", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100%;
}

.thumb-vertical {
  background-color: red;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 700;
}

main {
  min-height: calc(100vh - 73px);
  margin-top: 73px;
  position: relative;
}

.modal-open {
  overflow: hidden;
}

.wrapper {
  padding: 3.2rem 2.4rem 5.6rem;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*THEME COLORS*/

.c-0c0e16 {
  color: var(--dark100);
}

.c-141625 {
  color: var(--dark200);
}

.c-1e2139 {
  color: var(--dark300);
}

.c-252945 {
  color: var(--dark400);
}

.c-373b53 {
  color: var(--dark500);
}

.c-858bb2 {
  color: var(--dark600);
}

.c-ffffff {
  color: var(--light100);
}
.c-F9FAFE {
  color: var(--light200);
}
.c-dfe3fa {
  color: var(--light300);
}
.c-f8f8fb {
  color: var(--light400);
}

.c-ec5757 {
  color: var(--red100);
}

.c-ff9797 {
  color: var(--red200);
}

.c-7c5dfa {
  color: var(--purple100);
}

.c-9277ff {
  color: var(--purple200);
}

.c-7E88C3 {
  color: var(--purple300);
}

.c-888eb0 {
  color: var(--purple400);
}

.b-0c0e16 {
  background-color: var(--dark100);
}

.b-141625 {
  background-color: var(--dark200);
}

.b-1e2139 {
  background-color: var(--dark300) !important;
}

.b-252945 {
  background-color: var(--dark400);
}

.b-373b53 {
  background-color: var(--dark500);
}

.b-858bb2 {
  background-color: var(--dark600);
}
.b-f3f3f3 {
  background-color: var(--light500);
}

.b-ffffff {
  background-color: var(--light100) !important;
}
.b-F9FAFE {
  background-color: var(--light200);
}
.b-dfe3fa {
  background-color: var(--light300);
}
.b-f8f8fb {
  background-color: var(--light400);
}

.b-ec5757 {
  background-color: var(--red100);
}

.b-ff9797 {
  background-color: var(--red200);
}

.b-7c5dfa {
  background-color: var(--purple100);
}

.b-9277ff {
  background-color: var(--purple200);
}

.b-7E88C3 {
  background-color: var(--purple300);
}

.b-888eb0 {
  background-color: var(--purple400);
}

.br-DFE3FA {
  border: 1px solid var(--light300);
}

.brb-DFE3FA {
  border-bottom: 1px solid var(--light300);
}

.br-252945 {
  border: 1px solid var(--dark400);
}

.brb-1E2139 {
  border-bottom: 1px solid var(--dark300);
}

.shadowOne-light {
  box-shadow: 1px 1px 60px 30px #d8d8d8;
}

.shadowOne-dark {
  box-shadow: 1px 1px 60px 30px rgba(0, 0, 0, 0.25);
}

.placeholder-light::placeholder {
  color: #0c0e16;
  opacity: 0.4;
}

.placeholder-dark::placeholder {
  color: white;
}

.statusCTA {
  padding: 2.4rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  margin-bottom: 1.6rem;
  margin-top: 3.2rem;
}

.displayNone {
  display: none !important;
}

.displayBlock {
  display: block !important;
}

.react-calendar__month-view__weekdays {
  display: none !important;
}

.react-calendar__tile--now {
  background: inherit !important;
  color: black !important;
}

.react-calendar__tile--active {
  background: rgba(0, 0, 0, 0.1) !important;
  color: black !important;
}

@media screen and (min-width: 768px) {
  main {
    min-height: calc(100vh - 80px);
    margin-top: 80px;
  }

  .statusCTA {
    padding: 2rem 3.2rem;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper {
    padding: 4.8rem 4rem 13.5rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    min-height: 100vh;
    margin: 0 auto;
    max-width: 73rem;
  }

  .wrapper {
    padding: 0;
    padding-top: 7.7rem;
  }
}
