.form {
  width: 100%;
}

.formTop {
  padding: 0 2.4rem 6.4rem;
}

.mgBottom {
  margin-bottom: 4rem;
}

.formHeader {
  display: block;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
}

.formHeader {
  margin-bottom: 2.4rem;
  color: var(--purple100);
}

.gridArea {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  gap: 0 2.3rem;
}

.city {
  grid-area: a;
  position: relative;
}

.postCode {
  grid-area: b;
  position: relative;
}

.country {
  grid-area: c;
  margin-top: 2.4rem;
  position: relative;
}

.discard {
  padding: 1.7rem 1.8rem 1.6rem;
}

.saveDraft {
  background-color: var(--dark500);
  padding: 1.7rem 1.8rem 1.6rem;
}

.saveInvoice {
  padding: 1.7rem 1.8rem 1.6rem;
  color: var(--light100);
  background-color: var(--purple100);
}

.formBottom {
  padding: 1.6rem 2.4rem;
  display: grid;
  grid-template-areas: "a b c";
}

.formBottomShadow {
  box-shadow: 1px 1px 60px 30px #d8d8d8;
}

.listHeader {
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.38px;
  font-weight: 700;
  color: var(--dark700);
  margin-bottom: 2.4rem;
}

.addItem {
  padding: 1.7rem 0 1.6rem;
  width: 100%;
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
}

.addItem:hover {
  cursor: pointer;
  background-color: var(--light300);
}

.itemRow {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.itemFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  position: relative;
}

.label {
  display: block;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
  margin-bottom: 1rem;
}

.itemPriceTotal {
  min-width: 5rem;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
  padding: 2rem 0 1.9rem;
  font-weight: 500;
}

.itemQty {
  max-width: 6.4rem;
}

.itemPrice {
  max-width: 10rem;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.deleteRow {
  position: absolute;
  right: 0;
  bottom: 1.5rem;
}

.formElementWrapper {
  margin-bottom: 2.4rem;
  position: relative;
}

.errorMessage {
  font-size: 1rem;
  position: absolute;
  right: 0;
  color: red;
}

.wrapper {
  margin-bottom: 2.4rem;
}



@media screen and (min-width: 616px) {
  .form {
    overflow: scroll;
    width: 95%;
  }

  .form::-webkit-scrollbar {
    width: 10px;
    display: block;
  }

  .form::-webkit-scrollbar-track-piece {
    background-color: inherit;
  }

  .form::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .form::-webkit-scrollbar-thumb {
    background-color: #c2ced6;
    border-radius: 10px;
  }

  .formTop {
    padding: 0 5.6rem 13.4rem;
  }

  .formBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0 20px 0 0;
  }
  .gridArea {
    display: grid;
    grid-template-areas: "a b c";
    gap: 0 2.4rem;
  }

  .mgBottom {
    margin-bottom: 4.8rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
    margin-bottom: 0rem;
  }

  .wrapper > div {
    width: 100%;
  }

  .itemRow {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.6rem;
  }

  .country {
    margin-top: 0rem;
  }

  .itemList {
    gap: 1.8rem;
  }

  .itemName {
    max-width: 21.4rem;
    width: 100%;
  }

  .itemFlexRow {
    gap: 1.6rem;
    width: 100%;
  }
}

.input {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.25px;
  padding: 1.7rem 2rem 1.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.input:focus,
.input:hover {
  outline: 1px solid var(--purple200);
}

.input::placeholder {
  font-size: 1.2rem;
  color: #0c0e16;
  opacity: 0.4;
  font-weight: 700;
  letter-spacing: -0.25px;
}

.label {
  display: block;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
  margin-bottom: 1rem;
}

.bin:hover {
  filter: brightness(0) saturate(100%) invert(45%) sepia(26%) saturate(1705%)
    hue-rotate(316deg) brightness(97%) contrast(90%);
}
