.formTop {
  padding: 0 2.4rem;
}

.formHeader {
  display: block;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
}

.formHeader {
  margin-bottom: 2.4rem;
  color: var(--purple100);
}

.billBlock {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  gap: 0 2.3rem;
}

.city {
  grid-area: a;
}

.postCode {
  grid-area: b;
}

.country {
  grid-area: c;
}

.discard {
  padding: 1.7rem 1.8rem 1.6rem;
}

.saveDraft {
  background-color: var(--dark500);
  padding: 1.7rem 1.8rem 1.6rem;
}

.saveInvoice {
  padding: 1.7rem 1.8rem 1.6rem;
  color: var(--light100);
  background-color: var(--purple100);
}

.formBottom {
  padding: 2.1rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shader {
  width: 100%;
  height: 6.4rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.billToSection {
  margin-bottom: 6.6rem;
}

.listHeader {
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.38px;
  font-weight: 700;
  color: var(--dark700);
}

.addItem {
  padding: 1.7rem 0 1.6rem;
  width: 100%;
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
}