.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.3rem;
}

.text {
    font-size: 1.5rem;
    font-weight: 700;
}

.text:hover {
    color: var(--purple300);
}