.invoiceContainer {
  padding: 2.4rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2.7rem;
}

.hash {
  font-size: 1.5rem;
}

.invoiceID {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.invoiceNumber {
  margin-bottom: 0.4rem;
}

.text {
  font-size: 1.5rem;
  letter-spacing: -0.25px;
  line-height: 1.5rem;
  margin-bottom: 0.4rem;
}

.textBold {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.marginFix {
  margin-bottom: 0.4rem;
}

.marginFixThree {
margin-bottom: 0.8rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.middleTop {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3.2rem;
  gap: 4rem;
}

.marginFixTwo {
  margin-bottom: 1.2rem;
}

.middle {
  display: flex;
  flex-direction: column;
}

.bottom {
  margin-top: 4rem;
}

.bottomContentBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  border-radius: 0 0 8px 8px;
  color: white;
}

.grandTotal {
  font-size: 2rem;
  font-weight: 700;
}

.grandTotalText {
  font-size: 1.1rem;
}

.bottomContentTop {
  padding: 2.4rem;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.itemRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.25px;
}

.itemDescription {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@media screen and (min-width: 768px) {
  .top {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  .invoiceNumber {
    margin-bottom: 0.8rem;
  }

  .marginFix {
    margin-bottom: 0.8rem;
  }

  .middle {
    flex-direction: row;
    gap: 11rem;
  }

  .middleTop {
    justify-content: space-between;
    gap: 10rem;
  }
}
