.invoiceItems {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.invoiceItem {
  padding: 2.4rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
}

.topRow,
.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topRow {
  margin-bottom: 2.4rem;
}

.invoiceHeader,
.name,
.status {
  font-size: 1.5rem;
  letter-spacing: -0.25px;
}

.date {
  font-size: 1.6rem;
  letter-spacing: -0.25px;
}

.statusContainer {
  width: 104px;
  padding: 1.3rem 0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  
}

.status {
  text-transform:capitalize;
  font-weight: 700;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: block;
  position: relative;
  top: 3px;
  
}

.price {
  font-size: 2rem;
  letter-spacing: -0.8px;
  font-weight: 700;
  margin-top: 0.8rem;
}

.paid {
    background: rgba(51, 214, 159, 0.06);
    color: #33d69f;
}

.paidCircle {
    background-color: #33d69f;
}

.pending {
    background: rgba(255, 143, 0, 0.06);
    color: #FF8F00;
}

.pendingCircle {
    background-color: #FF8F00;
}

.draft {
    background: rgba(55, 59, 83, 0.06);
    color: #373B53;
}

.draftCircle {
    background-color: #373B53;
}

@media screen and (min-width: 768px) {
  .invoiceItem {
    display: flex;
    justify-content: space-between;
    padding: 2.9rem 4.8rem 2.8rem 2.4rem;
  }
  .topRow {
    margin-bottom: 0;
  }

  .date {
    margin-left: 2.7rem;
  }

  .name {
    margin-left: 3.7rem;
  }

  .statusContainer {
    margin-left: 4rem;
    position: relative;
  }

  .arrowIcon {
    position: absolute;
    right: -25px;
  }
}

@media screen and (min-width: 1024px) {
  .date {
    margin-left: 4.3rem;
  }

  .name {
    margin-left: 4.8rem;
  }

  .statusContainer {
    margin-left: 4rem;
    position: relative;
  }

  .arrowIcon {
    position: absolute;
    right: -25px;
    top: 15px;
  }
}
